<div class="row" id="all-content">
<!-- Loop over each object in the content array -->
{{#each allContent as |content| }}
  <div class="col-12">

    <div class="card my-3">
      <div class="card-header">
        <div class="row">
          <h5 class="mb-2 col-6" id="comment" data-commentId="{{content.id}}">
            {{content.name}}
          </h5>
          <div class="col-6">
            <p class="float-right fs-6">
              Created by {{content.user.name}} on {{content.date_created}}
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>
          {{content.content}}
        </p>
      </div>
    </div>
  </div>
{{/each}}
</div>

<script src="/js/comment.js"></script>
